
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <!-- CSS FILES-->
    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <style>
        ul {
            list-style-type: none;
           }
    </style>
</head>
<body>

    <div class="container mt-5">
        <h5>System Employee Control</h5>
        <p>Project developed in AspNet MVC with SqlServer and Dapper</p>
    </div>
    <hr />
    <div class="container mt-4">
        <p>Select an option:</p>

        <ul>
            <li><a href="/Client/Register">Clients Registration</a></li>
            <li><a href="/Client/Consult">Clients Consult</a></li>
        </ul>
        <!-- JS FILES-->
        <link href="~/js/bootstrap.js" rel="stylesheet" />
    </div>
</body>
</html>
